<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CA_CheckJava" version="1.0.3" />
  <package id="CA_DirectoryChooser" version="1.0.2" />
  <package id="CA_InputValidation" version="1.0.2" />
  <package id="Microsoft.WindowsAPICodePack.Core" version="1.1.0" />
  <package id="Microsoft.WindowsAPICodePack.Shell" version="1.1.0" />
</packages>