<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  
  <!-- This file reads all properties from a previous installation (used for an upgrade) -->
  
  <!-- Properties loaded: 
  
  Registry:
    * PREVIOUS_SERVICE_NAME (used to uninstall the service)
    * PREVIOUS_PRUNSRV_NAME (used to uninstall and stop the service; in the correct bitness)
    * PREVIOUS_LOG_PATH (for an upgrade)
  
  Ini-File-Values:
    * SERVICE_HOST
    * SERVICE_PORT
  
  -->

  <?include PreProcessorVariables.wxi ?>
  
	<Fragment>
    <!-- fake component to have a reference inside this file (PreviousProperties.wxs) -->
    <Component Id="PreviousProperties" Directory="INSTALLFOLDER" Guid="{3D5809C4-D825-4343-BFC8-54B62288B6D4}">
      <CreateFolder />
    </Component>
    
    <!-- the previous installed service name-->
    <Property Id='PREVIOUS_SERVICE_NAME'>
      <RegistrySearch Id='SearchPreviousServiceName'
                      Root='HKLM'
                      Win64='$(var.IsWin64)'
                      Key='SOFTWARE\TikaService'
                      Name='ServiceName'
                      Type='raw' />
    </Property>
    <!-- used to get the service name of version 1.0.0 (accidentally stored product code in variable name) -->
    <Property Id='PREVIOUS_SERVICE_NAME_1_0_0'>
      <RegistrySearch Id='SearchPreviousServiceName_1_0_0'
                      Root='HKLM'
                      Key='SOFTWARE\TikaService'
                      Name='{A0BB4AB4-7255-4D32-9BC8-6E0F3E153766}_UninstallServiceName'
                      Type='raw' />
    </Property>
    <Property Id='PREVIOUS_SERVICE_NAME_1_0_1FF'>
      <RegistrySearch Id='SearchPreviousServiceName_1_0_1ff'
                      Root='HKLM'
                      Key='SOFTWARE\TikaService'
                      Name='{81069BBB-47A8-46D8-9C30-880536ABE299}_UninstallServiceName'
                      Type='raw' />
    </Property>
    <SetProperty Action='SetServiceName' After='AppSearch' Sequence='first' Id='SERVICE_NAME' Value='[PREVIOUS_SERVICE_NAME]'>PREVIOUS_SERVICE_NAME</SetProperty>
    <SetProperty Action='SetServiceName_1_0_0' After='AppSearch' Sequence='first' Id='SERVICE_NAME' Value='[PREVIOUS_SERVICE_NAME_1_0_0]'>PREVIOUS_SERVICE_NAME_1_0_0</SetProperty>
    <SetProperty Action='SetServiceName_1_0_1ff' After='AppSearch' Sequence='first' Id='SERVICE_NAME' Value='[PREVIOUS_SERVICE_NAME_1_0_1FF]'>PREVIOUS_SERVICE_NAME_1_0_1FF</SetProperty>

    <!-- prunsrv name used when installing (correct bitness for uninstallation) -->
    <Property Id='PREVIOUS_PRUNSRV_NAME'>
      <RegistrySearch Id='SearchPreviousPrunsrvName'
                      Root='HKLM'
                      Win64='$(var.IsWin64)'
                      Key='SOFTWARE\TikaService'
                      Name='PrunsrvName'
                      Type='raw' />
    </Property>
    <!-- used to get the service name of version 1.0.0 (accidentally stored product code in variable name) -->
    <Property Id='PREVIOUS_PRUNSRV_NAME_1_0_0'>
      <RegistrySearch Id='SearchPreviousPrunsrvName_1_0_0'
                      Root='HKLM'
                      Key='SOFTWARE\TikaService'
                      Name='{A0BB4AB4-7255-4D32-9BC8-6E0F3E153766}_UninstallPrunsrvName'
                      Type='raw' />
    </Property>
    <Property Id='PREVIOUS_PRUNSRV_NAME_1_0_1FF'>
      <RegistrySearch Id='SearchPreviousPrunsrvName_1_0_1ff'
                      Root='HKLM'
                      Key='SOFTWARE\TikaService'
                      Name='{81069BBB-47A8-46D8-9C30-880536ABE299}_UninstallPrunsrvName'
                      Type='raw' />
    </Property>
    <SetProperty Action='SetPrunsrvName' After='AppSearch' Sequence='first' Id='PRUNSRV_NAME' Value='[PREVIOUS_PRUNSRV_NAME]'>PREVIOUS_PRUNSRV_NAME</SetProperty>
    <SetProperty Action='SetPrunsrvName_1_0_0' After='AppSearch' Sequence='first' Id='PRUNSRV_NAME' Value='[PREVIOUS_PRUNSRV_NAME_1_0_0]'>PREVIOUS_PRUNSRV_NAME_1_0_0</SetProperty>
    <SetProperty Action='SetPrunsrvName_1_0_1ff' After='AppSearch' Sequence='first' Id='PRUNSRV_NAME' Value='[PREVIOUS_PRUNSRV_NAME_1_0_1FF]'>PREVIOUS_PRUNSRV_NAME_1_0_1FF</SetProperty>

    <!-- log folder; is the same since 1.0.0 -->
    <Property Id='PREVIOUS_LOG_PATH' Secure='yes'>
      <RegistrySearch Id='SearchUninstallLogFolder' Root='HKLM' Key='SOFTWARE\TikaService'
                        Name='LogDirectory' Type='raw' />
    </Property>
    <SetProperty Action='SetPropertyToReplaceFrontslash' Before='ReplacePREVIOUS_LOG_PATH' Id='PROPERTY_TO_REPLACE_FRONTSLASH' Value='PREVIOUS_LOG_PATH' Sequence='first' />
    <CustomAction Id="ReplacePREVIOUS_LOG_PATH" DllEntry="ReplaceFrontslashWithBackslash" BinaryKey="CA_InputValidation" />
    <SetProperty Action='SetLogPath' After='AppSearch' Id='LOG_PATH' Value='[PREVIOUS_LOG_PATH]'>PREVIOUS_LOG_PATH</SetProperty>

    <!-- load STARTUP_TYPE -->
    <Property Id='PREVIOUS_STARTUP_TYPE'>
      <RegistrySearch Id='SearchPreviousStartupType'
                      Root='HKLM'
                      Win64='$(var.IsWin64)'
                      Key='SOFTWARE\TikaService'
                      Name='StartupType'
                      Type='raw' />
    </Property>
    <SetProperty Action='SetStartupType' After='AppSearch' Id='STARTUP_TYPE' Value='[PREVIOUS_STARTUP_TYPE]'>PREVIOUS_STARTUP_TYPE</SetProperty>

    <!-- load TIKA_LOGLEVEL -->
    <Property Id='PREVIOUS_TIKA_LOGLEVEL'>
      <RegistrySearch Id='SearchPreviousTikaLoglevel'
                      Root='HKLM'
                      Win64='$(var.IsWin64)'
                      Key='SOFTWARE\TikaService'
                      Name='TikaLoglevel'
                      Type='raw' />
    </Property>
    <SetProperty Action='SetTikaLoglevel' After='AppSearch' Id='TIKA_LOGLEVEL' Value='[PREVIOUS_TIKA_LOGLEVEL]'>PREVIOUS_TIKA_LOGLEVEL</SetProperty>

    <!-- load INSTALLFOLDER -->
    <Property Id='PREVIOUS_INSTALLFOLDER'>
      <RegistrySearch Id='SearchPreviousInstallFolder'
                      Root='HKLM'
                      Win64='$(var.IsWin64)'
                      Key='SOFTWARE\TikaService'
                      Name='InstallFolder'
                      Type='raw' />
    </Property>
    <SetProperty Action='SetInstallFolder' After='AppSearch' Id='INSTALLFOLDER' Value='[PREVIOUS_INSTALLFOLDER]'>PREVIOUS_INSTALLFOLDER</SetProperty>
    
    <InstallUISequence>
      <Custom Action='ReplacePREVIOUS_LOG_PATH' After='AppSearch'>1</Custom>
    </InstallUISequence>

    <InstallExecuteSequence>
      <Custom Action='ReplacePREVIOUS_LOG_PATH' After='AppSearch'>1</Custom>
    </InstallExecuteSequence>
  </Fragment>
</Wix>
